.cvbody {
  background-color: rgb(29, 28, 27);
  padding: 20px 10px;
}

.cvbody .cv-container {
  background-color: white;
  color: #333;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.cvbody .paper-background {
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.cvbody ul {
  padding-left: 20px;
}

/* Media Queries */
@media screen and (max-width: 799px) {
  .cvbody #info .left,
  .cvbody #info .right,
  .cvbody section .right {
    text-align: center;
  }

  .cvbody section .right {
    margin: 20px;
  }

  .cvbody section h3 {
    font-weight: bold;
  }
}

@media screen and (min-width: 800px) {
  .cvbody #info {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .cvbody section {
    display: grid;
    grid-template-columns: 200px 1fr;
  }
}

/* Additional Styles */
.cvbody .left h3 {
  margin-top: 10px;
}

.cvbody .work-item,
.cvbody .education-item {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.cvbody .work-item p {
  grid-area: 2 / 1 / 3 / 3;
}
