/* Home Page Styles */
.home-page .description {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.home-page .name {
  font-size: 60px;
  font-family: rubik, sans-serif;
  font-weight: 600;
  color: white;
}

.home-page .work {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: gold;
}

.home-page .experience {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.home-page .BG {
  background-color: black;
  padding: 20px 15px;
}

.home-page,
.home-page .home,
.home-page .about,
.home-page .skill {
  color: white;
}

.home-page .skills-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.home-page .skills-list img {
  width: 20px;
  height: auto;
  margin-left: 4px;
}

.home-page .card,
.home-page .card-body {
  background-color: #000;
  color: #fff;
}

.home-page .form-label {
  color: #fff;
}

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 767px) {
  .home-page .name {
    font-size: 40px;
  }
}
