/* Navbar styles */
.Nav {
  background-color: rgb(28, 28, 20);
  padding: 10px;
}

.Nav nav {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  color: rgb(241, 241, 250);
}

.Nav .Logos {
  align-items: center;
  text-decoration: none;
  color: whitesmoke;
  display: flex;
  font-size: 1.1rem;
}

.Nav .nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.Nav .nav-link {
  color: #d7d7d7;
  text-decoration: none;
  padding: 10px;
}

.Nav .nav-link:hover,
.Nav .nav-link.active {
  color: #ffffff;
}
