/* Global styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: rgb(29, 28, 27);
  color: #f1f1fa;
  text-align: justify; /* Render text content justified */
}

/* Breadcrumb styles */
.breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 1rem;
  list-style: none;
}

.breadcrumb-item {
  display: inline-block;
  margin-right: 0.5rem;
  margin-left: auto;
  color: #aaa;
}

.breadcrumb-item:last-child {
  font-weight: bold;
}

.breadcrumb-item.active {
  color: #fff;
}
