@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* Global styles */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  background: rgb(67, 69, 112);
}

/* Container styles */
.BG {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Container specific styles */
.container-hello {
  background-color: #405D72;
}

.container-skill {
  background-color: #758694;
}

.container-blog {
  background-color: #F7E7DC;
}

.container-about {
  background-color: #FFF8F3;
}

.container-projects {
  background-color: #405D72;
}

.container-tech-stack {
  background-color: #758694;
}

/* Header styles */
#description,
.name,
#work,
#experience {
  color: #fff;
}

/* About section styles */
.about-container {
  background-color: #1a1a3d;
  margin-top: 40px;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.about h2 {
  color: #ffd700;
}

.about p {
  font-size: 1.1em;
  color: #ddd;
}

/* Contact section styles */
.card {
  background-color: #1a1a3d;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin-top: 40px;
}

.card-title {
  color: #ffd700;
  font-size: 2em;
  margin-bottom: 20px;
}

.card-text {
  font-size: 1.2em;
  color: #ddd;
}

.form-label {
  color: #ddd;
}

.form-control {
  background-color: #333;
  color: #fff;
  border-color: #666;
}

textarea.form-control {
  height: 60px;
  width: 80px;
}

/* Button styles */
.btn {
  background-color: #ffd700;
  color: #111;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}

.btn-primary:hover {
  background-color: #444;
  color: #ffd700;
}

/* Additional styles */
.About1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pt-3,
.pt-5,
.pl-3,
.pr-3 {
  padding-top: 1rem;
}

@media (min-width: 768px) {
  .About1 {
    flex-direction: row;
    align-items: flex-start;
  }
}

/* Responsive image */
.about-image img {
  max-width: 100%;
  height: auto;
}

/* Skills list */
.skills-list {
  list-style: none;
  padding: 0;
}

.skills-list li {
  background-color: #333;
  color: #fff;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

.skills-list li:hover {
  background-color: #444;
}
