/* Navbar styles */
.Nav {
  background-color: #1c1c14;
  padding: 10px 20px;
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f1f1fa;
  padding: 10px 20px; /* Adjust padding */
}

.Logos {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: whitesmoke;
}

.logo_image {
  height: 50px; /* Adjust size */
  width: 50px; /* Adjust size */
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.logo_image:hover {
  transform: scale(1.1);
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

a {
  text-decoration: none;
  color: #f1f1fa;
  transition: color 0.3s ease;
}

a:hover {
  color: #ff9800;
}

/* Main content styles */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #1c1c14; /* Match with .Nav */
  color: #f1f1fa;
  padding: 10px 20px;
  z-index: 1000;
}

.BG {
  margin-top: 60px; /* Adjust this value based on your navbar height */
  padding-bottom: 60px; /* Adjust this value based on your footer height */
}

.container.mt-5 {
  color: blanchedalmond;
  margin-top: 20px;
  min-height: 100vh;
  background-color: rgb(29, 28, 27);
}

.paper-background {
  color: rgb(40, 37, 32);
}

.container {
  color: #f1f1fa;
  background-color: rgb(29, 28, 27);
}

/* Footer styles */
.Footer {
  background-color: #1c1c14;
  color: #f1f1fa;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
